<h2 class="h1 pl2 bold">Listing Hosts</h2>

<section>
  <%= for host <- @hosts do %>
    <div class="flex items-center mb1 border-bottom border-gray">
      <div class="p2 col-6">
        <div>
          <%= host.name %>
        </div>
      </div>
      <div class="p2 col-4">
        <%= host.ip_address %>
      </div>
      <div class="p1 mr2 col-2 bg-olive rounded center">
        45ms
      </div>
    </div>
  <% end %>
</section>
